/* Light material design boilerplate. */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #EEEEEE;
}

/* Only apply min-height to non-print media */
@media not print {
  html, body {
    min-height: 100%;
  }
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
}

.before {
  flex: 1 1 5%;
}

.after {
  flex: 2 2 10%;
}

button {
  background: #FFF; border: none;
  font-size: 1.5em;
  width: 400px; padding: 0.5em; margin: 10px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 150ms;
}
button:hover {
  background: #FFA;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: translateY(-2px);
}
button.success {
  background: #AFA;
}
button.error {
  background: #FAA;
}
table {
  margin: 1em auto;
  border-collapse: collapse;
}
table td {
  border: 1px solid #888;
  padding: 8px;
}
table td:first-child {
  text-align: right;
}

#toggle-wrapper {
  display: block;
  margin: 2em 0 3em;
}

#toggle {
  font-size: 1.5em;
  padding: 1em;
  margin: 1em;
  color: black;
  text-decoration: none;
}

#toggle .http,
#toggle .https
{
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.25s ease-in-out;
}

#toggle.https .http,
#toggle.http .https
{
  color: rgba(0, 0, 0, 0.5);
}

#toggle.http:not(:hover) .http {
  color: #DB4437;
}

#toggle.https:not(:hover) .https {
  color: #1AC222;
}

#toggle.http:hover .https {
  text-decoration: underline;
  color: #1AC222;
}

#toggle.https:hover .http {
  text-decoration: underline;
  color: #DB4437;
}

a#toggle:hover {
  color: black;
}


.switch {
  display: inline-block;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  background-color: rgba(34, 31, 31, 0.26);
  margin: auto 0.5em;
  transition: background-color 0.25s ease-in-out;
}

.switch .knob {
  width: 20px;
  height: 20px;
  margin: -3px;
  border-radius: 10px;
  background-color: #F1F1F1;
  border:
    inset 0.5px rgba(255, 255, 255, 0.12),
    inset 0.5px rgba(255, 255, 255, 0.12);
  box-shadow:
    0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);

  transform: translateX(10px);
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

#toggle.instant .switch,
#toggle.instant .switch .knob,
#toggle.instant .http,
#toggle.instant .https
{
  transition: transform 0s;
}

.http:not(:hover)  .switch,
.https:hover       .switch
{
  background-color: rgba(219, 68, 55, 0.26);
}

.http:not(:hover)  .switch .knob,
.https:hover       .switch .knob
{
  background-color: rgb(219, 68, 55);
  transform: translateX(0px);
}

.http:hover        .switch,
.https:not(:hover) .switch
{
  background-color: rgba(29, 194, 34, 0.5);
}

.http:hover        .switch .knob,
.https:not(:hover) .switch .knob
{
  background-color: rgb(29, 194, 34);
  transform: translateX(20px);
}
