/* Light material design boilerplate. */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #EEEEEE;
}

/* Only apply min-height to non-print media */
@media not print {
  html, body {
    min-height: 100%;
  }
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
}

.before {
  flex: 1 1 5%;
}

.after {
  flex: 2 2 10%;
}

button {
  background: #FFF; border: none;
  font-size: 1.5em;
  width: 400px; padding: 0.5em; margin: 10px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 150ms;
}
button:hover {
  background: #FFA;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: translateY(-2px);
}
button.success {
  background: #AFA;
}
button.error {
  background: #FAA;
}

.darkMode{
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  
}

table {
  margin: 1em auto;
  border-collapse: collapse;
}
table td {
  border: 1px solid #888;
  padding: 8px;
}
table td:first-child {
  text-align: right;
}

#toggle-wrapper {
  display: block;
  margin: 2em 0 3em;
}

#toggle {
  font-size: 1.5em;
  padding: 1em;
  margin: 1em;
  color: black;
  text-decoration: none;
}

#toggle .http,
#toggle .https
{
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.25s ease-in-out;
}

#toggle.https .http,
#toggle.http .https
{
  color: rgba(0, 0, 0, 0.5);
}

#toggle.http:not(:hover) .http {
  color: #DB4437;
}

#toggle.https:not(:hover) .https {
  color: #1AC222;
}

#toggle.http:hover .https {
  text-decoration: underline;
  color: #1AC222;
}

#toggle.https:hover .http {
  text-decoration: underline;
  color: #DB4437;
}

a#toggle:hover {
  color: black;
}


.switch {
  display: inline-block;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  background-color: rgba(34, 31, 31, 0.26);
  margin: auto 0.5em;
  transition: background-color 0.25s ease-in-out;
}

.switch .knob {
  width: 20px;
  height: 20px;
  margin: -3px;
  border-radius: 10px;
  background-color: #F1F1F1;
  border:
    inset 0.5px rgba(255, 255, 255, 0.12),
    inset 0.5px rgba(255, 255, 255, 0.12);
  box-shadow:
    0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);

  transform: translateX(10px);
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

#toggle.instant .switch,
#toggle.instant .switch .knob,
#toggle.instant .http,
#toggle.instant .https
{
  transition: transform 0s;
}

.http:not(:hover)  .switch,
.https:hover       .switch
{
  background-color: rgba(219, 68, 55, 0.26);
}

.http:not(:hover)  .switch .knob,
.https:hover       .switch .knob
{
  background-color: rgb(219, 68, 55);
  transform: translateX(0px);
}

.http:hover        .switch,
.https:not(:hover) .switch
{
  background-color: rgba(29, 194, 34, 0.5);
}

.http:hover        .switch .knob,
.https:not(:hover) .switch .knob
{
  background-color: rgb(29, 194, 34);
  transform: translateX(20px);
}

.jswarning
{
  color: rgb(219, 68, 55);
  font-size: 2em;
}

.permission-status, .access-status {
  font-size: small;
  text-transform: uppercase;
  padding-top: .4rem;
  text-align: left;
}

.permission-status > span, .access-status > span {
  font-weight: 800;
}

.demo-instructions {
  padding: .5rem 1rem;
  margin-top: 1rem;
  text-align: left;
  border: solid 1px;
  max-width: 80rem;
  align-self: center;
  margin: 1rem auto;
}

permission {
  background: #def0ff;
  border: solid #005763;  
  border-radius: 5px;
  width: 400px;
  padding: 0.5em;
  margin: 10px 10px;
  display: block;
}


/* Dark mode css */

.switch1 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch1 input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #2196F3;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider1.round {
  border-radius: 34px;
}

.slider1.round:before {
  border-radius: 50%;
}